<!DOCTYPE html>
<html>

<head>
    <title>Comprimidor de Video</title>
</head>

<body>
    <h1>Comprimir Video</h1>
    <form action="/compress" method="post" enctype="multipart/form-data">
        <input type="file" name="video" accept=".mp4, .mov" required>
        <label for="format">Selecciona Formato de Salida:</label>
        <select name="format">
            <option value="mp4">MP4</option>
            <option value="mov">MOV</option>
        </select>
        <button type="submit">Comprimir</button>
    </form>
</body>

</html>